@keyframes fadeIn {
  from {
    opacity: 0;
    /* transform: translateY(-20px); */
  }
  to {
    opacity: 1;
    /* transform: translateY(0px); */
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slideFromLeft {
  animation: slideFromLeft 0.5s ease forwards;
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slideFromBottom {
  animation: slideFromBottom 0.8s ease forwards;
}
@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

.slideFromRight {
  animation: slideFromRight 1s ease-in-out forwards; /* Increased duration for a softer effect */
}

.delay-1 {
  animation-delay: 0.01s; /* Soft delay */
}

.delay-2 {
  animation-delay: 0.03s; /* Soft delay */
}

.delay-3 {
  animation-delay: 0.06s; /* Soft delay */
}
.delay-4 {
  animation-delay: 0.08s; /* Soft delay */
}
.delay-5 {
  animation-delay: 0.1s; /* Soft delay */
}

@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.slideFromTop {
  animation: slideFromTop 0.5s ease forwards;
}

.animated-text {
  animation: zoomInOut 2s ease infinite;
}

@keyframes zoomInOut {
  0%,
  100% {
    transform: scale(0.9);
  }
  50% {
    transform: scale(1); /* Adjust the scale factor as needed */
  }
}

.arrow-container {
  display: inline-block;
  margin-left: 30px;
}

.arrow-open {
  animation: rotateDown 0.3s forwards;
}

.arrow-closed {
  transform: rotate(0deg);
}
@keyframes rotateDown {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

@keyframes zoomOut {
  0% {
    transform: scale(0.5); /* Start smaller */
    opacity: 0;
  }
  100% {
    transform: scale(1); /* End at normal size */
    opacity: 1;
  }
}

.zoomOut {
  animation: zoomOut 0.5s ease-in-out forwards; /* Adjust the duration as needed */
}
@keyframes zoomIn {
  0% {
    transform: scale(0.8); /* Start smaller */
    opacity: 0;
  }
  100% {
    transform: scale(1); /* End at normal size */
    opacity: 1;
  }
}

.zoomIn {
  animation: zoomIn 0.8s ease-in-out forwards; /* Adjust the duration as needed */
}
