* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
body {
  background-color: #effaef !important;
  font-family: "Nunito Sans", sans-serif !important;
  /* background-image: ; */
}
main {
  padding: 20px 25px;
  /* background: #ffffff; */
  margin: 0px 20px;
  border-radius: 5px;
  /* position: absolute; */
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
}
.HeaderWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}
.sidebar {
  background-color: #ffffff;
  color: #4d8c52;
  height: 100vh;
  width: 300px;
  overflow-y: auto;
  /* box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.9); */
}

.top-section {
  display: flex;
  align-items: center;
  padding: 15px 5px;
  justify-content: flex-start;
  margin-top: 60px;
}

.largeLogo {
  display: block;
  cursor: pointer;
}

.logoLine {
  position: absolute;
  bottom: -75%;
  left: 50%;
  transform: translateX(-50%);
  border-bottom: 1px solid #dedede;
  width: 80%;
}
.links {
  display: flex;
  color: #4d8c52;
  padding: 10px 15px;
  gap: 15px;
  transition: all 0.5s;
}
.links:hover {
  background-color: #6abf71;
  color: #fff;
  transition: all 0.5s;
}
.active {
  background-color: #4d8c52;
  color: #ffffff;
}

.link-text {
  font-size: 15px;
  font-weight: 500;
}

.menuicon {
  font-size: 20px !important;
  padding: 5px 10px !important;
  /* width: 45px !important;
  height: 40px !important; */
  /* font-size: ; */
}
.menuicons {
  font-size: 20px !important;
}
.menuName {
  font-size: 16px;
  position: relative;
  top: -3px;
  left: 10px;

  font-weight: 500;
}
.submenuName1 {
  padding: 10px 30px;
  font-size: 16px;
}

.headerContainer {
  background-color: rgb(255, 255, 255);
  /* height: 5vh; */
  width: 100%;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  margin: -5px 0px 0px -5px;
  padding-right: 7px;
}

.deleteBtn {
  background-color: #b3261e !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
  margin: 10px !important;
  cursor: pointer;
}
.deleteBtn:hover {
  background-color: #b3261eda !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
}
.deleteBtn:disabled {
  background-color: #e6e4e4 !important;
  color: #b6b5b5 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
  margin: 10px !important;
  cursor: not-allowed !important;
}
.Headertext {
  display: flex;
  justify-content: flex-end;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 0px;
  color: #5a5a5a;
  gap: 15px;
}
.cusor-pointer {
  cursor: pointer;
}
.avatarpic img {
  width: 30px;
}

.bodyContent {
  background-color: #ffffff;
  padding: 10px;
  margin: 10px;
  width: auto;
  height: auto;
  border-radius: 5px;
  overflow-y: auto;
  /* background-repeat: no-repeat;
    background-position: right bottom; */
  /* background-image: url("../component/BodyBg.png"); */
}
.icons-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px;
  gap: 15px;
}
.avatar {
  margin-right: 10px; /* Adjust the margin as needed */
}
.payrollText {
  /* position: relative;
  right: 370px; */
  font-weight: 600;
  font-size: 18px;
  /* color: ; */
}
.avatar-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.smallLogo img {
  width: 40px;
  margin-left: -5px;
  margin-bottom: 10px;
}
.focus\:ring-indigo-600:focus {
  --tw-ring-opacity: 1;
  --tw-ring-color: #4d8c52 !important;
}
.active > .page-link,
.page-link.active {
  z-index: 3;
  color: var(--cui-pagination-active-color);
  background-color: #4d8c52 !important;
  border-color: #4d8c52 !important;
}
.form-check-input:checked {
  background-color: #4d8c52 !important;
  border-color: #4d8c52 !important;
}
.form-check-input[type="checkbox"]:indeterminate {
  background-color: #4d8c52 !important;
  border-color: #4d8c52 !important;
}

.form-control:focus {
  color: var(--cui-input-focus-color, var(--cui-body-color));
  background-color: var(--cui-input-focus-bg, var(--cui-body-bg));
  border-color: #4d8b52 !important;
  outline: 0;
  box-shadow: 0 0 0 0.2px rgb(77 140 31) !important;
}

/* PaySlip Page */
.cancelBtn {
  background-color: #d1d1d1 !important;
  color: #5d5d5d !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
  margin: 10px !important;
}
.cancelBtn:disabled {
  background-color: #e6e4e4 !important;
  color: #b6b5b5 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
  margin: 10px !important;
}

.cancelBtn:hover {
  background-color: #e6e4e4 !important;
  color: #5d5d5d !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
}
.saveBtn {
  background-color: #71a375 !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
  margin: 10px !important;
  cursor: pointer;
}
.saveBtn:hover {
  background-color: #81b985 !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
}
.saveBtn:disabled {
  background-color: #e6e4e4 !important;
  color: #b6b5b5 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
  margin: 10px !important;
  cursor: not-allowed !important;
}
.deleteBtn {
  background-color: #b3261e !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
  margin: 10px !important;
  cursor: pointer;
}
.deleteBtn:hover {
  background-color: #b3261eda !important;
  color: #ffffff !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
}
.deleteBtn:disabled {
  background-color: #e6e4e4 !important;
  color: #b6b5b5 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  text-transform: capitalize !important;
  padding: 5px 21px !important;
  margin: 10px !important;
  cursor: not-allowed !important;
}

.closeX {
  padding: 2px !important;
  font-weight: 600 !important;
  min-width: 30px !important;
  border-radius: 50px !important;
  /* color: #5d5d5d !important; */
}
.drawerTitle {
  /* color: #5b5b5b !important; */
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.CodeStar {
  color: #d30707;
}
.ErrorMsg {
  color: #d30707;
  font-size: 12px;
  display: flex;
  font-weight: 500;
  padding-left: 40px;
}
.Box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.Box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.red-border {
  /* border: 1px solid; */
}
.ActionData {
  display: flex !important;
  justify-content: space-around;
}
.viewicon {
  cursor: pointer;
  padding: 6px 0px;
}
.editicon {
  cursor: pointer;
}
.editicon:disabled {
  cursor: not-allowed;
}
li.page-item {
  cursor: pointer;
}

.tableData {
  text-align: center;

  font-size: 14px;
  border-left: 1px solid #f0e8e8;
  border-right: 1px solid #f0e8e8;
}

.css-5xe99f-MuiLinearProgress-bar1 {
  background-color: #7b6ca7 !important;
  border-radius: 100px;
}
span.MuiLinearProgress-bar.MuiLinearProgress-barColorPrimary.MuiLinearProgress-bar1Determinate.css-t752vm {
  background-color: #7b6ca7 !important;
  border-radius: 100px !important;
}

.css-u9sq6h,
.css-1tjp3yh,
.css-1e9pcl9 {
  border-radius: 10% !important;
}

text#SvgjsText1087 {
  font-size: 18px !important;
}
.apexcharts-legend.apexcharts-align-center.apx-legend-position-right {
  top: 45px !important;
}

span.apexcharts-legend-text {
  font-size: 14px !important;
}

/* components/Preloader.css */

.preloader {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 9999;
  background-color: #fff;
}

.rocket-gif {
  width: 350px;
  height: 350px;
}

.logo {
  margin-top: 20px;
  width: 250px;
}
.css-66rn0y-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item.Mui-selected {
  background-color: #2d5831;
  color: #c4c4c4 !important;
}

.css-u3w8m4-MuiButtonBase-root-MuiMenuItem-root-MuiMultiSectionDigitalClockSection-item.Mui-selected {
  background-color: #2d5831;
  color: #c4c4c4 !important;
}

.deleteIcon {
  color: #929292;
  cursor: not-allowed;
}

.tui-full-calendar-section-button {
  display: none;
}

text#SvgjsText2034 {
  font-size: 18px !important;
}

.Agnikul {
  color: #5c8a58;
  font-size: 28px;
  font-weight: 600;
}

.headingWeHRA {
  font-weight: 600;
  background-color: #a5d0a9;
  padding: 10px;
  color: #222222;
}
.headingWeHRAsub {
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3vh !important;
}
.avatarpic img {
  width: 50px;
  cursor: pointer;
}
.tottask {
  font-size: 20px;
  font-weight: 600;
}
.ptottask {
  font-size: 16px;
  font-weight: 500;
  padding-top: 5px;
}
/* .submenu {
  background-color: #a5d0a9 !important;
} */

/* sugush */
.no-bg-color th {
  background-color: transparent !important; /* Ensure no background color */
}
/* .sticky-header {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 100;
} */
.title {
  font-size: 34px;
  font-weight: 600;
  /* padding: 10px 0px 0px 0px; */
  position: relative;
  top: -20px;
}
.Subtitle {
  color: #2c5728;
  font-size: 20px;
  padding-bottom: 10px;
}

.titleAut {
  font-size: 14px;
  color: #272727;
}
.landingPic {
  padding: 25px;
  display: flex;
  margin: 0 auto;
  /* width: 100%; */
  object-fit: cover;
}
.landingPicView {
  /* padding: 20px; */
  display: flex;
  margin: 0 auto;
  width: 80%;
  object-fit: cover;
}
.view {
  font-size: 14px;
  /* font-weight: 600; */
  display: flex;
  justify-content: end;
  align-self: end;
  padding: 5px 10px;
  /* background-color: aqua; */
  margin-top: 15px;
  cursor: pointer;
}

.listName {
  font-size: 14px;
  /* padding-left: 10px; */
  /* color: #000000de; */
}
.headingWe {
  font-weight: 600 !important;
  /* color: red; */
}
/* .css-46bh2p-MuiCardContent-root:last-child {
  padding: 10px !important;
} */
.backArrow {
  border-radius: 50px;
  padding: 2px;
  width: 25px;
  height: 25px;
  /* cursor: pointer; */
}
.backArrow:hover {
  background-color: #f0e8e8;
  border: 1px solid #f0e8e8;
  border-radius: 50px;
  padding: 2px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.listleft {
  padding: 2px;
  margin-left: 20px;
}
.listweight {
  font-weight: 700;
  margin: 5px;
}
.None {
  list-style-type: none;
}
th {
  background-color: #a5d0a9 !important;
}
.Toastify__toast-body {
  font-size: 16px !important;
}
.no-announcements {
  list-style-type: none;
}

/* span {
  font-size: 16px !important;
}
label {
  font-size: 14px !important;
} */
.QA {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: -20px;
}
.QL {
  margin: 10px;
  padding: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.QL:hover {
  transform: translateY(-2px);
  background-color: #f0f0f070;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.TermSubtitle {
  font-size: 18px;
  color: #000;
  font-weight: 600;
  text-align: center;
  padding: 5px;
}
.description {
  padding: 30px;
  text-align: left;
}
